h2{
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 200%;
    font-weight: 100;

}
h3{
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 100;
}
.colores1{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    display: flex;
    margin: 0;
    max-width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0;
    padding-right: 0;
}
.colores2{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    margin: 0;
    max-width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0;
    padding-right: 0;
}
.colores3{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    margin: 0;
    max-width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 0;
    padding-right: 0;
}

.titulo{
    width: 50%;
    text-align: justify;

}
.titulo h2{
    margin-left: 10%;
    text-shadow: rgb(0, 51, 0) 2px -2px 6px;
}
.boton{
    width: 50%;
}
.switch {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 40px;
    margin: 7% 25%;

}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF5D44;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {

    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    left: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #8CE196;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}
.h3ON{
    position: relative;
    display: inline-block;
    font-size: 0.9em;
    margin-top: 13%;
    margin-left: 8%;
}
.h3OFF{
    position: absolute;
    display: inline-block;
    font-size: 0.9em;
    margin-top: 13%;
    margin-left: 22.5%;
    margin-right: 92%;
}
@media only screen and (max-width : 320px) {
    .switch{
        margin: 6% 15%;
    }
}

